<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Startup Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/startupStyles.css" />
    @RenderSection("Head",false)
</head>

<body>
    <header>
        <nav class="navbar-toggleable-sm">
            <div class="collapse">
                <ul class="navbar-nav horizontal">
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer>Win Great</footer>

    <div id="bodyScripts">
        @RenderSection("Scripts", required: false)
    </div>
</body>

</html>
