bin/Debug/net5.0/AdvancedStringBuilder.dll
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/ClearScript.Core.dll
bin/Debug/net5.0/ClearScript.V8.dll
bin/Debug/net5.0/ClearScript.V8.ICUData.dll
bin/Debug/net5.0/JavaScriptEngineSwitcher.Core.dll
bin/Debug/net5.0/JavaScriptEngineSwitcher.Extensions.MsDependencyInjection.dll
bin/Debug/net5.0/JavaScriptEngineSwitcher.V8.dll
bin/Debug/net5.0/JSPool.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net5.0/Microsoft.Extensions.Identity.Core.dll
bin/Debug/net5.0/Microsoft.Extensions.Identity.Stores.dll
bin/Debug/net5.0/Microsoft.Identity.Client.dll
bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/React.AspNet.dll
bin/Debug/net5.0/React.AspNet.Middleware.dll
bin/Debug/net5.0/React.Core.dll
bin/Debug/net5.0/ReactExample.deps.json
bin/Debug/net5.0/ReactExample.dll
bin/Debug/net5.0/ReactExample.exe
bin/Debug/net5.0/ReactExample.pdb
bin/Debug/net5.0/ReactExample.runtimeconfig.dev.json
bin/Debug/net5.0/ReactExample.runtimeconfig.json
bin/Debug/net5.0/ReactExample.Views.dll
bin/Debug/net5.0/ReactExample.Views.pdb
bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net5.0/System.Runtime.Caching.dll
bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/web.config
bin/Debug/net5.0/ref/ReactExample.dll
bin/Debug/net5.0/ru-RU/JavaScriptEngineSwitcher.Core.resources.dll
bin/Debug/net5.0/ru-RU/JavaScriptEngineSwitcher.V8.resources.dll
bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-x64/native/ClearScriptV8.win-x64.dll
bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net6.0/AdvancedStringBuilder.dll
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/ClearScript.Core.dll
bin/Debug/net6.0/ClearScript.V8.dll
bin/Debug/net6.0/ClearScript.V8.ICUData.dll
bin/Debug/net6.0/JavaScriptEngineSwitcher.Core.dll
bin/Debug/net6.0/JavaScriptEngineSwitcher.Extensions.MsDependencyInjection.dll
bin/Debug/net6.0/JavaScriptEngineSwitcher.V8.dll
bin/Debug/net6.0/JSPool.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net6.0/Microsoft.Extensions.Identity.Core.dll
bin/Debug/net6.0/Microsoft.Extensions.Identity.Stores.dll
bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/Newtonsoft.Json.dll
bin/Debug/net6.0/React.AspNet.dll
bin/Debug/net6.0/React.AspNet.Middleware.dll
bin/Debug/net6.0/React.Core.dll
bin/Debug/net6.0/ReactExample.deps.json
bin/Debug/net6.0/ReactExample.dll
bin/Debug/net6.0/ReactExample.exe
bin/Debug/net6.0/ReactExample.pdb
bin/Debug/net6.0/ReactExample.runtimeconfig.json
bin/Debug/net6.0/ReactExample.staticwebassets.runtime.json
bin/Debug/net6.0/System.Drawing.Common.dll
bin/Debug/net6.0/System.Private.ServiceModel.dll
bin/Debug/net6.0/System.Security.Permissions.dll
bin/Debug/net6.0/System.ServiceModel.dll
bin/Debug/net6.0/System.ServiceModel.Primitives.dll
bin/Debug/net6.0/System.Windows.Extensions.dll
bin/Debug/net6.0/web.config
bin/Debug/net6.0/cs/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/de/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/es/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/fr/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/it/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/ja/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/ko/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/pl/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/pt-BR/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/ru/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/ru-RU/JavaScriptEngineSwitcher.Core.resources.dll
bin/Debug/net6.0/ru-RU/JavaScriptEngineSwitcher.V8.resources.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/win-x64/native/ClearScriptV8.win-x64.dll
bin/Debug/net6.0/tr/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/zh-Hans/System.Private.ServiceModel.resources.dll
bin/Debug/net6.0/zh-Hant/System.Private.ServiceModel.resources.dll
bin/Debug/netcoreapp3.1/AdvancedStringBuilder.dll
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/ClearScript.Core.dll
bin/Debug/netcoreapp3.1/ClearScript.V8.dll
bin/Debug/netcoreapp3.1/ClearScript.V8.ICUData.dll
bin/Debug/netcoreapp3.1/JavaScriptEngineSwitcher.Core.dll
bin/Debug/netcoreapp3.1/JavaScriptEngineSwitcher.Extensions.MsDependencyInjection.dll
bin/Debug/netcoreapp3.1/JavaScriptEngineSwitcher.V8.dll
bin/Debug/netcoreapp3.1/JSPool.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.Win32.Registry.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/React.AspNet.dll
bin/Debug/netcoreapp3.1/React.AspNet.Middleware.dll
bin/Debug/netcoreapp3.1/React.Core.dll
bin/Debug/netcoreapp3.1/ReactExample.deps.json
bin/Debug/netcoreapp3.1/ReactExample.dll
bin/Debug/netcoreapp3.1/ReactExample.exe
bin/Debug/netcoreapp3.1/ReactExample.pdb
bin/Debug/netcoreapp3.1/ReactExample.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ReactExample.runtimeconfig.json
bin/Debug/netcoreapp3.1/ReactExample.Views.dll
bin/Debug/netcoreapp3.1/ReactExample.Views.pdb
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/web.config
bin/Debug/netcoreapp3.1/ru-RU/JavaScriptEngineSwitcher.Core.resources.dll
bin/Debug/netcoreapp3.1/ru-RU/JavaScriptEngineSwitcher.V8.resources.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/ClearScriptV8.win-x64.dll
