<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="SchoolContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ContosoUniversity1;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
</connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\ReactExample.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>